  .aboutScrollspy {
    height: 300px;
    position: relative;
    overflow-y: scroll;
  }
  .my-brand {
    color: orangered;
    font-size: .8em;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
  }