.carousel-caption{
    top: 11%;
    bottom: auto;
}
.carousel-inner .carousel-item .carousel-caption p {
  font-size: 3vw;
  }
  .animate__animated {
    --animate-duration: 5s;
  }
.animate__animated.animate__bounce {
  --animate-duration: 5s;
}
.carousel-inner .carousel-item .carousel-caption a{
  margin-top: 5vh;
  font-size:;
}
