.home-caption1 {
    font-size: 0.8em;
    background-image: linear-gradient(to right, orange ,white);
     padding: 30px;
     box-shadow: 0 0 10px 0 rgba(190, 16, 16, 0.1), 0 5px 10px 0 rgba(59, 153, 216, 0.3);
 }
.home-caption2 {
    font-size: .8em;
    background-image: linear-gradient(to right, white , orange);
    padding: 25px;
    box-shadow: 0 0 10px 0 rgba(190, 16, 16, 0.1), 0 5px 10px 0 rgba(59, 153, 216, 0.3);
}