.gisService img {
    display: block;
    width: 100%;
    height: 30vw;
  }
  .gisService .figure{
    position: relative;
  }
  .gisService .figure .figure-caption {
    text-align: left; 
    width:100%; height:0;
    font-size: 25px; line-height: 0;
    color:white;
    position:absolute; top:12%;
    z-index:1;
    font-weight: bold;
    margin-left: 5px;
  }
   .menu_active {
    font-weight: bold;

   }
   .text-justify {
     width: 100%;
    text-align: justify;
  }

  .enggService img {
    display: block;
    width: 100%;
    height: 30vw;
  }
#map {
  display: inline-block;
  width: 100%;
  height: 85vh;
}
#export {
  display: block;
  position: absolute;
  top:500px;
  right:10px;
  z-index:700;
  background-color: blue;
  color:white;
  padding:3px;
  border-radius:4px;
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size:12px;
  font-weight: bold;
  text-decoration:none;
}
#export:hover{
  background-color: black;
}