.gisService img {
    display: block;
    width: 100%;
    height: 30vw;
  }
  .gisService .figure{
    position: relative;
  }
  .gisService .figure .figure-caption {
    text-align: left; 
    width:100%; height:0;
    font-size: 25px; line-height: 0;
    color:white;
    position:absolute; top:12%;
    z-index:1;
    font-weight: bold;
    margin-left: 5px;
  }
   .menu_active {
    font-weight: bold;
    color: blue;
   }
   .text-justify {
     width: 100%;
    text-align: justify;
  }

  .enggService img {
    display: block;
    width: 100%;
    height: 30vw;
  }