@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
.home {
  margin-top: 3vh;
}
.about {
  margin-top: 8vh;
}
.contact {
  margin-top: 8vh;
}
.importantLink {
  margin-top: 8vh;
}
.enggService {
  margin-top: 8vh;
}
.gisService {
  margin-top: 8vh;
}
.blog {
  margin-top: 8vh;
}
.service {
  margin-top: 8vh;
}
.gallary {
  margin-top: 8vh;
}