@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar {
    background-color: black;
    z-index: 1000;
  }
  .navbar .navbar-brand {
    color: orangered;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: burlywood;
  }
  .navbar .navbar-nav .nav-item .nav-link{
    color: white;
    border-radius: 0.25rem;
    font-weight: bold;
  }
  .navbar .navbar-nav .nav-item .menu_active {
    color: burlywood;
  }
  .navbar .navbar-toggler {
    font-size: .8em;
    background-color: white;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: white;
  }
  .navbar .navbar-link {
    color: white;
  }
  .navbar .navbar-link:hover {
    color: burlywood;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: white;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: burlywood;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: burlywood;
      background-color: #8e44ad;
    }
    
}
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: white;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: burlywood;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: burlywood;
      background-color: #8e44ad;
    }
    
}
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: white;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: burlywood;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: burlywood;
      background-color: #8e44ad;
    }
    
}
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: white;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: burlywood;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: burlywood;
      background-color: #8e44ad;
    }
    
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: white;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: burlywood;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: burlywood;
    background-color: #8e44ad;
  } 
  .carousel, 
  .carousel-inner 
  .carousel-inner .carousel-item{
      height: auto;
  }
  .carousel-caption{
      top: 15%;
      bottom: auto;
  }
  .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 2rem;
    margin-bottom: 15vh;
    font-weight: bold;
    }
    .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 2rem;
    margin-bottom: 13vh;
    font-weight: bold;
    color: red;
    }
    .heading1 {
      color: black;
    }
.animate__animated.animate__bounce {
    --animate-duration: 5s;
  }
  #youtube{
    font-size: 32px;
  }
.social_icon:hover{
    color: cornflowerblue;
}
#youtube:hover{
  color: red;
}
#instagram:hover{
  color: #f09433;
}
.animate__animated {
  --animate-duration: 5s;
}
.aboutScrollspy {
    height: 300px;
    position: relative;
    overflow-y: scroll;
  }
.about {
  margin-top: 15vh;
  
}
.home {
  margin-top: 7vh;
}
.service {
  margin-top: 15vh;
}
.contact {
  margin-top: 15vh;
}
.importantLink {
  margin-top: 15vh;
}
.sidenav {
  margin-top: 15vh;
}
.digitization {
  margin-top: 15vh;
}
.text-justify {
  text-align: justify;
}

/* For side menu bar */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}